@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');

.container-fluid {
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-brand{
    font-family: Dancing Script;
    font-size: 32px;
}
#header .navbar{
    background-color: #3C4F65;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}
#body {
    background-color: #3C4F65;
    width: auto;
    height: 100%;
}
#body h3{
    margin-top: 10px;
}